html, body {margin: 0; height: 100%; overflow: hidden}
html{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    max-height: 900px;
}

body {
    background-color: white;
    overflow-y: hidden;
    overflow-x: hidden;
}

.app-wrapper {
    display: flex;
    justify-content: center;
}

#lock {
    background-image: url(assets/iphone-lock.png);
    background-repeat: no-repeat;
    background-size:contain;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    resize: none;
    width: 100vh;
    height: 100vh;
}

#btnunl {
    background-color: white;
    border-color: black;
    border-style: solid;
    width: 180px;
    height: 10px;
    position: fixed;
    bottom: 50px;
    right: 110px;
}

#origami {
    display: none;
    background-image: url(assets/bench.jpg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    resize: none;
    width: 100vh;
    height: 100vh;
}

#homes {
    display: none;
    background-image: url(assets/iphone-home.png);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    resize: none;
    width: 100vh;
    height: 100vh;
}

img {
    height: 250px;
    width: 250px;
    margin-top: 80px;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#unltext {
    display: none;
}

#wrongtxt {
    display:none;
    justify-content: center;
    align-items: center;
    color: red;
    text-shadow: 2px 2px 2px black;
    font-size: 35px;
    position: relative;
    left:1px;
}

#filler {
    padding-top: 200px;
    padding-left: 80px;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
}